@{
    ViewBag.PageTitle = "Not Found";
}

    <div class="notification is-danger">
        <p class="title is-4 mt-1">
            An error occured while processing your request. The support team is notified and we are working on the fix.
        </p>
    </div>